In [90]:
import yfinance as yf
import pandas as pd
import plotly.express as px
from scipy import stats
import statsmodels.api as sm
import numpy as np
import matplotlib.pyplot as plt

In [91]:
ticker = input('Type in the ticker of the stock: ')

Type in the ticker of the stock: GOOG

In [92]:
start_date = input('Start date (YYYY-MM-DD): ')
end_date = input('End date (YYYY-MM-DD): ')

Start date (YYYY-MM-DD): 2010-01-01
End date (YYYY-MM-DD): 2022-12-31

In [93]:
data = yf.download(ticker,start_date,end_date)
data

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2010-01-04  15.615220  15.678981  15.547723  15.610239  15.610239   78541293
2010-01-05  15.620949  15.637387  15.480475  15.541497  15.541497  120638494
2010-01-06  15.588072  15.588072  15.102393  15.149715  15.149715  159744526
2010-01-07  15.178109  15.193053  14.760922  14.797037  14.797037  257533695
2010-01-08  14.744733  15.024933  14.672753  14.994298  14.994298  189680313
...               ...        ...        ...        ...        ...        ...
2022-12-23  87.620003  90.099998  87.620003  89.809998  89.809998   17815000
2022-12-27  89.309998  89.500000  87.535004  87.930000  87.930000   15470900
2022-12-28  87.500000  88.519997  86.370003  86.459999  86.459999   17879600
2022-12-29  87.029999  89.364998  86.989998  88.949997  88.949997   18280700
2022-12-30  87.364998  88.830002  87.029999  88.730003  88.730003   19190300

[3272 rows x 6 columns]

In [94]:
data['Gap'] = (data['Open'] - data['Close'].shift(1)) / data['Close'].shift(1) * 100
data['Pct_Change'] = data['Close'].pct_change() * 100
data

,Open,High,Low,Close,Adj Close,Volume,Gap,Pct_Change
Date,,,,,,,,
2010-01-04,15.615220,15.678981,15.547723,15.610239,15.610239,78541293,NaN,NaN
2010-01-05,15.620949,15.637387,15.480475,15.541497,15.541497,120638494,0.068607,-0.440364
2010-01-06,15.588072,15.588072,15.102393,15.149715,15.149715,159744526,0.299679,-2.520876
2010-01-07,15.178109,15.193053,14.760922,14.797037,14.797037,257533695,0.187421,-2.327953
2010-01-08,14.744733,15.024933,14.672753,14.994298,14.994298,189680313,-0.353478,1.333111
...,...,...,...,...,...,...,...,...
2022-12-23,87.620003,90.099998,87.620003,89.809998,89.809998,17815000,-0.725130,1.756170
2022-12-27,89.309998,89.500000,87.535004,87.930000,87.930000,15470900,-0.556731,-2.093305
2022-12-28,87.500000,88.519997,86.370003,86.459999,86.459999,17879600,-0.489026,-1.671786
2022-12-29,87.029999,89.364998,86.989998,88.949997,88.949997,18280700,0.659264,2.879942
2022-12-30,87.364998,88.830002,87.029999,88.730003,88.730003,19190300,-1.781899,-0.247323

In [95]:
data=data.dropna()
data

,Open,High,Low,Close,Adj Close,Volume,Gap,Pct_Change
Date,,,,,,,,
2010-01-05,15.620949,15.637387,15.480475,15.541497,15.541497,120638494,0.068607,-0.440364
2010-01-06,15.588072,15.588072,15.102393,15.149715,15.149715,159744526,0.299679,-2.520876
2010-01-07,15.178109,15.193053,14.760922,14.797037,14.797037,257533695,0.187421,-2.327953
2010-01-08,14.744733,15.024933,14.672753,14.994298,14.994298,189680313,-0.353478,1.333111
2010-01-11,15.055070,15.055070,14.795543,14.971633,14.971633,289597429,0.405300,-0.151158
...,...,...,...,...,...,...,...,...
2022-12-23,87.620003,90.099998,87.620003,89.809998,89.809998,17815000,-0.725130,1.756170
2022-12-27,89.309998,89.500000,87.535004,87.930000,87.930000,15470900,-0.556731,-2.093305
2022-12-28,87.500000,88.519997,86.370003,86.459999,86.459999,17879600,-0.489026,-1.671786
2022-12-29,87.029999,89.364998,86.989998,88.949997,88.949997,18280700,0.659264,2.879942
2022-12-30,87.364998,88.830002,87.029999,88.730003,88.730003,19190300,-1.781899,-0.247323

In [96]:
data['Close_vs_Open'] = (data['Close']/ data['Open']* 100)-100
data

C:\Users\bviei\AppData\Local\Temp\ipykernel_16232\2867492100.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Close_vs_Open'] = (data['Close']/ data['Open']* 100)-100

,Open,High,Low,Close,Adj Close,Volume,Gap,Pct_Change,Close_vs_Open
Date,,,,,,,,,
2010-01-05,15.620949,15.637387,15.480475,15.541497,15.541497,120638494,0.068607,-0.440364,-0.508622
2010-01-06,15.588072,15.588072,15.102393,15.149715,15.149715,159744526,0.299679,-2.520876,-2.812127
2010-01-07,15.178109,15.193053,14.760922,14.797037,14.797037,257533695,0.187421,-2.327953,-2.510669
2010-01-08,14.744733,15.024933,14.672753,14.994298,14.994298,189680313,-0.353478,1.333111,1.692571
2010-01-11,15.055070,15.055070,14.795543,14.971633,14.971633,289597429,0.405300,-0.151158,-0.554212
...,...,...,...,...,...,...,...,...,...
2022-12-23,87.620003,90.099998,87.620003,89.809998,89.809998,17815000,-0.725130,1.756170,2.499423
2022-12-27,89.309998,89.500000,87.535004,87.930000,87.930000,15470900,-0.556731,-2.093305,-1.545177
2022-12-28,87.500000,88.519997,86.370003,86.459999,86.459999,17879600,-0.489026,-1.671786,-1.188572
2022-12-29,87.029999,89.364998,86.989998,88.949997,88.949997,18280700,0.659264,2.879942,2.206134
2022-12-30,87.364998,88.830002,87.029999,88.730003,88.730003,19190300,-1.781899,-0.247323,1.562417

In [97]:
thresholds = [-np.inf, -10, -7.5, -5, -2.5, 0, 2.5, 5, 7.5, 10, np.inf]
labels = ['<-10', '-10 < -7.5', '-7.5 < -5', '-5 < -2.5', '-2.5 < 0', '0 > 2.5', '2.5 > 5', '5 > 7.5', '7.5 > 10', '>10']

# Create the frequency class column
data['FrequencyClass'] = pd.cut(data['Gap'], bins=thresholds, labels=labels, right=False)
data

C:\Users\bviei\AppData\Local\Temp\ipykernel_16232\1269973063.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['FrequencyClass'] = pd.cut(data['Gap'], bins=thresholds, labels=labels, right=False)

,Open,High,Low,Close,Adj Close,Volume,Gap,Pct_Change,Close_vs_Open,FrequencyClass
Date,,,,,,,,,,
2010-01-05,15.620949,15.637387,15.480475,15.541497,15.541497,120638494,0.068607,-0.440364,-0.508622,0 > 2.5
2010-01-06,15.588072,15.588072,15.102393,15.149715,15.149715,159744526,0.299679,-2.520876,-2.812127,0 > 2.5
2010-01-07,15.178109,15.193053,14.760922,14.797037,14.797037,257533695,0.187421,-2.327953,-2.510669,0 > 2.5
2010-01-08,14.744733,15.024933,14.672753,14.994298,14.994298,189680313,-0.353478,1.333111,1.692571,-2.5 < 0
2010-01-11,15.055070,15.055070,14.795543,14.971633,14.971633,289597429,0.405300,-0.151158,-0.554212,0 > 2.5
...,...,...,...,...,...,...,...,...,...,...
2022-12-23,87.620003,90.099998,87.620003,89.809998,89.809998,17815000,-0.725130,1.756170,2.499423,-2.5 < 0
2022-12-27,89.309998,89.500000,87.535004,87.930000,87.930000,15470900,-0.556731,-2.093305,-1.545177,-2.5 < 0
2022-12-28,87.500000,88.519997,86.370003,86.459999,86.459999,17879600,-0.489026,-1.671786,-1.188572,-2.5 < 0
2022-12-29,87.029999,89.364998,86.989998,88.949997,88.949997,18280700,0.659264,2.879942,2.206134,0 > 2.5
2022-12-30,87.364998,88.830002,87.029999,88.730003,88.730003,19190300,-1.781899,-0.247323,1.562417,-2.5 < 0

In [98]:
frequency_data = data['FrequencyClass'].value_counts().reset_index()
frequency_data.columns = ['Class', 'Frequency']

In [99]:
frequency_data = frequency_data.sort_values('Class')

In [100]:
frequency_data=frequency_data.set_index('Class')

In [101]:
frequency_data

            Frequency
Class
<-10                1
-10 < -7.5          3
-7.5 < -5           8
-5 < -2.5          26
-2.5 < 0         1447
0 > 2.5          1735
2.5 > 5            36
5 > 7.5             6
7.5 > 10            4
>10                 5

In [104]:
median =[]
mean=[]
for label in labels:
    subset = data[data['FrequencyClass'] == label]
    mean_value = subset['Pct_Change'].mean()
    median_value = subset['Pct_Change'].median()
    median.append(round(median_value,2))
    mean.append(round(mean_value,2))

In [105]:
frequency_data['Pct_Change Median'] = median
frequency_data['Pct_Change Mean'] = mean
frequency_data

            Frequency  Pct_Change Median  Pct_Change Mean
Class
<-10                1             -11.10           -11.10
-10 < -7.5          3              -8.38            -8.57
-7.5 < -5           8              -6.67            -5.68
-5 < -2.5          26              -4.18            -3.55
-2.5 < 0         1447              -0.33            -0.49
0 > 2.5          1735               0.43             0.49
2.5 > 5            36               3.23             3.57
5 > 7.5             6               5.06             5.11
7.5 > 10            4               9.59            10.09
>10                 5              11.19            11.06